html{background-color: #afafaf;
}
form{
	margin-left: 600px; 
}
h1, h2{
	margin-left: 600px; 
}
#bouton{
	margin-top: 100px; 
}

#tespost{
	margin-left: 600px; 
}
#postes{
	margin-left: 600px;
}